[features]
seeds = false
skip-lint = false

[programs.localnet]
ninjapay_vault = "NJPvau1tPBHrRxUqrLvhLq3zDpNZRGpNPdTpP1Dvq6C"

[programs.devnet]
ninjapay_vault = "NJPvau1tPBHrRxUqrLvhLq3zDpNZRGpNPdTpP1Dvq6C"

[programs.mainnet]
ninjapay_vault = "NJPvau1tPBHrRxUqrLvhLq3zDpNZRGpNPdTpP1Dvq6C"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
